{% extends "core/layout.html" %}

{% block styles %}
    {% load static %}
{% endblock %}

{% block content %}
<div style="display:flex;justify-content:center;">
    <div style="display:block">
    <span style="font-size:3em; font-family:'Trebuchet MS';">Tools</span>
    <div style="display:flex;">
        <a class="nonlink" href="{% url 'bottombarcalc' %}">
            <div class="beveled menu-item" style="background-color:red;color:#fefefe;">
                Bottom Bar Calculator
            </div>
        </a>
        <a class="nonlink" href="{% url 'splittertool' %}">
            <div class="beveled menu-item" style="background-color:aqua;color:#080808;">
                Amount Splitter
            </div>
        </a>
        <a class="nonlink" href="{% url 'lengthestimator' %}">
            <div class="beveled menu-item" style="background-color:#00FF80;color:#080808;">
                Coil Length Estimator
            </div>
        </a>
        <a class="nonlink" href="{% url 'shoppinglist' %}">
            <div class="beveled menu-item" style="background-color:#ffff00;color:#080808;">
                Shopping List
            </div>
        </a>
        <a class="nonlink" href="{% url 'springstool' %}">
            <div class="beveled menu-item" style="background-color:#FFB733;color:#080808;">
                Spring Calculator
            </div>
        </a>
    </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}