{% extends "core/layout.html" %}

{% block styles %}
    {% load static %}
{% endblock %}

{% block content %}
{% csrf_token %}
<h3>Coil {{pk}}</h3>
<input type="hidden" name="pk" value="{{coil.pk}}" />
<table>
    <tr>
        <td>Size</td>
        <td>
            <select name="size">
                <option value="5.28"{% if coil.size == 5.28 %} selected{% endif %}>5.28</option>
                <option value="5.34"{% if coil.size == 5.34 %} selected{% endif %}>5.34</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Weight</td>
        <td><input type="number" name="weight" value="{{coil.weight}}"/></td>
    </tr>
    <tr>
        <td>Width</td>
        <td><input type="number" name="width" step="0.125" value="{{coil.width}}"/></td>
    </tr>
    <tr>
        <td>Notes</td>
        <td><textarea name="notes" value="{{coil.notes}}"></textarea></td>
    </tr>
</table>
<button type="button" onclick="updateCoil();">Submit</button>
{% endblock %}

{% block scripts %}
<script src="{% static 'core/scripts/security.js' %}"></script>
<script>
    function updateCoil() {
        /* Send data to update API */
        data = {
            pk: {{coil.pk}},
            size: $("select[name='size']").val(),
            weight: $("input[name='weight']").val(),
            width: $("input[name='width']").val(),
            notes: $("textarea[name='notes']").val()
        };
        $.post("{% url "coilupdate" %}", data, callback)//.fail(badSetTurns);
    };
    function callback(data){
        /* On Success, redirect to ViewCoil */
        if(data.result == "success"){
           window.location.href = "{% url 'viewcoil' coil=coil.pk %}";
        }else{
            showSnackbar({ type: "danger", label: "Failed to Update", text: data.errors });
        }
    };
</script>
{% endblock %}