{% extends "core/layout.html" %}

{% block styles %}
    {% load static %}
{% endblock %}

{% block content %}
<div style="display:flex;justify-content:center;">
    <div style="display:block">
    <span style="font-size:3em; font-family:'Trebuchet MS';">Tools</span>
    <div style="display:flex;">
        <a class="nonlink" href="{% url 'coilregistry' %}">
            <div class="beveled menu-item" style="background-color:red;color:#fefefe;">
                Register Coils
            </div>
        </a>
        <a class="nonlink" href="{% url 'scancoil' %}">
            <div class="beveled menu-item" style="background-color:aqua;color:#080808;">
                Scanner
            </div>
        </a>
        <a class="nonlink" href="{% url 'outputcoil' %}">
            <div class="beveled menu-item" style="background-color:yellow;color:#080808;">
                Print Barcodes
            </div>
        </a>
    </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}