{% extends "core/layout.html" %}

{% block styles %}
    {% load staticfiles %}
    <style>
        #coilTable {
            margin-right:auto;
            margin-left:auto;
            margin-top:1em;
        }
            #coilTable td,th {
                padding-left:.5em;
                padding-right:.5em;
                text-align:center;
            }
    </style>
{% endblock %}

{% block content %}
    <div style="text-align:center;">
        <h1>Output Coils</h1>
        <button id="outputButton" type="button" onclick="outputCoils();">Output</button>

        <table id="coilTable">
            <thead>
                <tr>
                    <th><input id="outputSelectall" type="checkbox"/></th>
                    <th>ID</th>
                    <th>Size</th>
                    <th>Weight</th>
                    <th>Stage</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'core/scripts/security.js' %}"></script>
    <script src="{% static 'coils/scripts/coiloutput.js' %}"></script>
    <script>
        var page = 0;
        var pagestart = null;
        var loadingFlag = false;
        $(document).ready(function () {
            loadCoils();
            $("#outputSelectall").change(function () {
                let w = $("#outputSelectall");
                let coils = $("#coilTable").find("tr.coil input[type=checkbox]");
                coils.prop("checked", w[0].checked);
            });
        });
    </script>
{% endblock %}