{% extends "core/layout.html" %}

{% block styles %}
    {% load static %}
    <style>
        #coilTable {
            margin-right:auto;
            margin-left:auto;
            margin-top:1em;
        }
            #coilTable td,th {
                padding-left:.5em;
                padding-right:.5em;
                text-align:center;
            }
    </style>
{% endblock %}

{% block content %}
    <div style="text-align:center;">
        <h1>Output Coils</h1>
        <div class="floatleft">
            <button id="statsButton" type="button" onclick="getStats();">Stats</button>
            <button id="outputButton" type="button" onclick="outputCoils();">Print</button>
        </div>
        <div class="floatleft">
            <label><input type="checkbox" id="received" value="Received" onchange="filterCoils();" checked/>Received</label>
            <label><input type="checkbox" id="opened" value="Opened" onchange="filterCoils();" checked/>Opened</label>
            <label><input type="checkbox" id="finished" value="Finished" onchange="filterCoils();" checked/>Finished</label>
        </div>
        <div class="floatleft">
            <label><input type="checkbox" id="5.28" value="5.28" onchange="filterCoils();" checked/>5.28</label>
            <label><input type="checkbox" id="5.34" value="5.34" onchange="filterCoils();" checked/>5.34</label>
        </div>
        <table id="coilTable">
            <thead>
                <tr>
                    <th><input id="outputSelectall" type="checkbox" onchange="selectAll();" /></th>
                    <th>ID</th>
                    <th>Size</th>
                    <th>Weight</th>
                    <th>Stage</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <button id="loadmorebtn" type="button" onclick="loadCoils()">Load More</button>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'core/scripts/security.js' %}"></script>
    <script src="{% static 'coils/scripts/coiloutput.js' %}"></script>
    <script>
        var page = 0;
        var pagestart = null;
        var loadingFlag = false;
        $(document).ready(loadCoils);
    </script>
{% endblock %}