{% extends "core/layout.html" %}

{% block styles %}
    {% load staticfiles %}
{% endblock %}

{% block content %}
<div style="text-align:center;">
    <h1>Output Coils</h1>
    <form  action="scancoil" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input name="qrcode" type="file" accept="image/*" capture="camera">
        <input type="submit" />
    </form>
</div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'core/scripts/security.js' %}"></script>
    <script>
        {% if coilerror %}
        showSnackbar({ type: "danger", label: "Invalid Coil", text: "Try rescanning" });
        {% endif %}
    </script>
{% endblock %}