{% extends "core/layout.html" %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'doors/content/doors.css' %}" />
{% endblock %}

{% block content %}
<div style="display:flex;justify-content:center;">
    <div style="display:block">
    <span style="font-size:3em; font-family:'Trebuchet MS';">Doors and Slat Orders</span>
    <div style="display:flex;">
        <a class="nonlink" href="{% url 'order' %}">
            <div class="beveled menu-item" style="background-color:red;color:#fefefe;">
                New Order
            </div>
        </a>
        <a class="nonlink" href="{% url 'search' %}">
            <div class="beveled menu-item" style="clear:both; background-color:aqua;">
                Find Order
            </div>
        </a>
    </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}