{% extends "core/layout.html" %}

{% block styles %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'doors/content/doors.css' %}" />
{% endblock %}

{% block content %}
<div class="centered">
    <h1>{{order.fields.customer}}<i class="material-icons"><a class="nonlink" href="{% url 'order'%}?orderid={{order.pk}}" style="color:lawngreen;">edit</a></i></h1>
    <h4><b>Customer PO</b>{{order.fields.customer_po}}</h4>
    <h4><b>Work Order</b>{{order.fields.customer_po}}</h4>
    <h4>{{order.fields.description}}</h4>
</div>
<div class="centered">
    {% for door in order.doors %}
        <div class="door" data-id="{{door.id}}">
            <table>
                <thead>
                    <tr>
                        <td class="doorheader" colspan="4"><h3 data-name="{{door.door}}"><b>Door: "{{door.door}}"</b></h3></td>
                    </tr>
                    <tr class="headerrow">
                        <td></td>
                        <td style="font-weight:bold;">Width</td>
                        <td style="font-weight:bold;">Height</td>
                        <td style="font-weight:bold;">Hand</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons popup-icon" data-type="door" data-id="{{door.id}}"></i></td>
                        <td>{{door.width}}</td>
                        <td>{{door.height}}</td>
                        <td>{{door.hand}}</td>
                    </tr>
                </thead>
                <tbody>
                    {% if door.components.pipe %}
                        <tr>
                            <td colspan="4">
                                <table class="component2">
                                    <thead>
                                        <tr>
                                            <td class="componentheader" colspan="4"><h4><b>Pipe</b></h4></td>
                                        </tr>
                                        <tr class="headerrow">
                                            <td></td>
                                            <td style="font-weight:bold;">Pipe Dia.</td>
                                            <td style="font-weight:bold;">Shaft Dia.</td>
                                            <td  style="font-weight:bold;">Springs</td>
                                        </tr>
                                    </thead>
                                    {% for pipe in door.components.pipe %}
                                    <tbody>
                                        <tr>
                                            <td><i class="material-icons popup-icon" data-type="pipe" data-id="{{pipe.id}}"></i></td>
                                            <td>{{pipe.pipediameter}}</td>
                                            <td>{{pipe.shaftdiameter}}</td>
                                            <td>{{pipe.springs}}</td>
                                        </tr>
                                    </tbody>
                                    {% endfor %}
                                </table>
                            </td>
                        </tr>
                    {% endif %}

                    {% if door.components.hood %}
                        <tr>
                            <td colspan="4">
                                <table class="component2">
                                    <thead>
                                        <tr>
                                            <td class="componentheader" colspan="3"><h4><b>Hood</b></h4></td>
                                        </tr>
                                        <tr class="headerrow">
                                            <td></td>
                                            <td style="font-weight:bold;">Style</td>
                                            <td style="font-weight:bold;">Baffle</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for hood in door.components.hood %}
                                            <tr>
                                                <td><i class="material-icons popup-icon" data-type="hood" data-id="{{hood.id}}"></i></td>
                                                <td>{{hood.custom}}</td>
                                                <td style="text-align:center;"><i class="material-icons {% if hood.baffle %}true-icon{% else %}false-icon{% endif %}"></i></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    {% endif %}

                    {% if door.components.tracks %}
                        <tr>
                            <td colspan="4">
                                <table class="component2">
                                    <thead>
                                        <tr>
                                            <td class="componentheader" colspan="4"><h4><b>Tracks</b></h4></td>
                                        </tr>
                                        <tr class="headerrow">
                                            <td></td>
                                            <td style="font-weight:bold;">Drive</td>
                                            <td style="font-weight:bold;">Standard</td>
                                            <td style="font-weight:bold;">Weatherstripping</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for tracks in door.components.tracks %}
                                            <tr>
                                                <td><i class="material-icons popup-icon" data-type="tracks" data-id="{{tracks.id}}"></i></td>
                                                <td>{{tracks.brackets.hand}}</td>
                                                <td style="text-align:center;"><i class="material-icons {% if tracks.standard %}true-icon{% else %}false-icon{% endif %}"></i></td>
                                                <td style="text-align:center;"><i class="material-icons {% if tracks.weatherstripping %}true-icon{% else %}false-icon{% endif %}"></i></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    {% endif %}

                    {% if door.components.slats %}
                        <tr>
                            <td colspan="4">
                                <table class="component2">
                                    <thead>
                                        <tr>
                                            <td class="componentheader" colspan="5"><h4><b>Slats</b></h4></td>
                                        </tr>
                                        <tr class="headerrow">
                                            <td></td>
                                            <td style="font-weight:bold;">Profile</td>
                                            <td style="font-weight:bold;">Quantity</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for slats in door.components.slats %}
                                            <tr>
                                                <td><i class="material-icons popup-icon" data-type="slats" data-id="{{slats.id}}"></i></td>
                                                <td>{{slats.slat_type}}</td>
                                                <td>{{slats.quantity}}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    {% endif %}

                    {% if door.components.bottombar %}
                        <tr>
                            <td colspan="4">
                                <table class="component2">
                                    <thead>
                                        <tr>
                                            <td class="componentheader" colspan="5"><h4><b>Bottombar</b></h4></td>
                                        </tr>
                                        <tr class="headerrow">
                                            <td></td>
                                            <td style="font-weight:bold;">Style</td>
                                            <td style="font-weight:bold;">Rubber</td>
                                            <td style="font-weight:bold;">Feederslat</td>
                                            <td style="font-weight:bold;">Slope</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for bottombar in door.components.bottombar %}
                                            <tr>
                                                <td><i class="material-icons popup-icon" data-type="bottombar" data-id="{{bottombar.id}}"></i></td>
                                                <td>{{bottombar.angle}}</td>
                                                <td>{{bottombar.bottom_rubber}}</td>
                                                <td>{{bottombar.slat_type}}</td>
                                                <td style="text-align:center;">
                                                {% if bottombar.slope %}
                                                    {{bottombar.slope}}
                                                {% else %}
                                                    <i class="material-icons false-icon"></i>
                                                {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    {% endif %}

                    {% if door.components.accessories %}
                        <tr>
                            <td colspan="4">
                                <table class="component2">
                                    <thead>
                                        <tr>
                                            <td class="componentheader" colspan="1"><h4><b>Accessories</b></h4></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for accessory in door.components.accessories %}
                                            <tr>
                                                <td><i class="material-icons popup-icon" data-type="{{accessory.name}}" data-id="{{accessory.id}}"></i></td>
                                                <td>{{accessory.name}}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    {% endfor %}
</div>
<a href="{% url 'deleteorder' order.pk %}">Delete Order</a>
{% endblock %}

{% block scripts %}
<script src="{% static 'core/scripts/security.js' %}"></script>
<script src="{% static 'doors/scripts/order_overview.js' %}"></script>
{% endblock %}