{% extends "core/layout.html" %}

{% block styles %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/content/toggle.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'doors/content/doors.css' %}" />
    <style>
        td{
            padding-left:1em;
        }
        td>input{
            width:100%;
        }
    </style>
{% endblock %}

{% block content %}
<div style="justify-content:center;">
    <form id="jobinfoform" onsubmit="nullSubmit();">
        {% csrf_token %}
        <input name="orderid" type="hidden" value="{{orderid}}" />
        <table>
            <tr>
                <td>Customer</td>
                <td>
                    <input id="customer" name="customer" type="text" list="customer_list" {% if form %}value="{{form.customer}}"{% endif %} data-api="search" required />
                    <datalist id="customer_list"></datalist>
                    <input id="customer_id" name="customer_id" type="hidden" value="" />
                </td>
            </tr>
            <tr>
                <td>Customer PO</td>
                <td><input id="customer_po" name="customer_po" type="text" {% if form %}value="{{form.customer_po}}"{% endif %}/></td>
            </tr>
            <tr>
                <td>Work Order Number</td>
                <td><input name="work_order" type="text" {% if form %}value="{{form.work_order}}"{% endif %}/></td>
            </tr>
            <tr>
                <td>Order Date</td>
                <td><input id="origin_date" name="origin_date" type="date" {% if form %}value="{{form.origin_date}}"{% endif %} required /></td>
            </tr>
            <tr>
                <td>Due Date</td>
                <td><input id="due_date" name="due_date" type="date" {% if form %}value="{{form.due_date}}"{% endif %} required /></td>
            </tr>
            <tr>
                <td>Description of Job</td>
                <td><input id="description" name="description" type="text" {% if form %}value="{{form.description}}"{% endif %}/></td>
            </tr>
        </table>
    </form>
</div>
<div style="justify-content:center;">
    <div id="submitindicator" style="display:none;z-index:10;position:absolute;left:50%;">
        <span>Submitting Order</span>
        <div class="cs-loader"></div>
    </div>
    <div id="orderform">
        {% csrf_token %}
        <div class="section">
            <h3>Components</h3>
            <button type="button" class="beveled itemlabel noglow" style="background-color:rgb(127,255,148)" onclick="addComponent(self,'door')">Add Door</button>
            <div id="Components">

            </div>
        </div>
        
        <button type="button" onclick="submitOrder();">Submit</button>
    </div>
</div>
<datalist id="springods">
    {% for od in ods %}
        <option value="{{od}}">
    {% endfor %}
</datalist>
<datalist id="springwd">
    {% for gauge in gauges %}
        <option value="{{gauge}}">
    {% endfor %}
</datalist>
<datalist id="springcycles">
    {% for cycle in cycles %}
        <option value="{{cycle}}">
    {% endfor %}
</datalist>
{% endblock %}

{% block scripts %}
<script src="{% static 'core/scripts/autocomplete.js' %}"></script>
<script src="{% static 'core/scripts/errorbubble.js' %}"></script>
<script src="{% static 'core/scripts/security.js' %}"></script>
<script src="{% static 'core/scripts/betteregexp/betteregexp.js' %}"></script>
<script src="{% static 'core/scripts/measureit.js' %}"></script>
<script src="{% static 'core/scripts/toggle.js' %}"></script>
<script src="{% static 'doors/scripts/order.js'%}"></script>
<script src="{% static 'doors/scripts/job.js' %}"></script>
{% if error %}
        <script>
            $(document).ready( function() {
                showSnackbar({ type: "danger", label: "Invalid Form:", text: "{{error}}" });
            });
        </script>
{% endif %}
<script>
    // Recommended to use <div class="cs-loader"></div> to generate
        function generateLoaders(){
            /* Generates the loader for any divs with class "cs-loader" that does not already have cs-loader-inner

            */
            $("div.cs-loader:not(:has(>div.cs-loader-inner))").each(
                function () {
                    $(this).append($(`<div class="cs-loader-inner">
                        <label>●</label>
                        <label>●</label>
                        <label>●</label>
                        <label>●</label>
                        <label>●</label>
                        <label>●</label>
          </div >`));
                });
        }
    ;
</script>
{% if form.orderid%}
<script>
    var orderid = {{form.orderid}};
    var measureit;
    $(document).ready(function(){
        measureit = new MeasureIt();
        getLoadOrder();
    });
</script>
{% else %}
<script>
    var measureit;
    $(document).ready(function () {
        measureit = new MeasureIt();
    });
</script>
{% endif %}
{% endblock %}