{% extends "core/layout.html" %}

{% block styles %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/content/toggle.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'doors/content/doors.css' %}" />
    <style>
        #savedAssemblies > *{
            margin-bottom: .5em;
        }
        .sidebar-assembly {
            border:solid thin;
        }
        .sidebar-assembly ~ table ~td:first-child{
            font-weight:bold;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="component"  style="text-align:center;">
        <div class="floatleft">
            <h2>{{name}}</h2>
            {% if doorid %}<button id="savebutton" type="button" title="Set Springs for Door"><i class="material-icons" style="color:lawngreen;">assignment_turned_in</i></button>{% endif %}
        </div>
        <table>
            <tbody>
                <tr>
                    <td colspan="2"><label>Curtain Weight Closed<input type="number" id="weightclosed" {% if weightclosed %}readonly{% endif %}/></label></td>
                    <td colspan="2"><label>Curtain Weight Open<input type="number" id="weightopen" {% if weightopen %}readonly{% endif %}/></label></td>
                </tr>
                <tr>
                    <td><label>Pipe Size<select id="pipesize" list="pipesizes">
                {% for size,radius in pipesizes %}
                    <option value="{{size}}" data-radius="{{radius}}">{{size}}</option>
                {% endfor %}
                </select></label></td>
                    <td><label>Cycles<select id="cyclerating" list="cycles">
                        {% for cycle in cycles %}
                            <option value="{{cycle}}">{{cycle}}</option>
                        {% endfor %}
                    </select></label></td>
                    <td><label>Turns: <span id="turns"></span></label></td>
                    <td><label>Turns to Raise: <span id="turnstoraise"></span></label></td>
                </tr>
                <tr>
                    <td><label>Lift Required When Closed<span id="torqueclosed"></span></label></td>
                    <td><label>Lift to Hold Open<span id="torqueopen"></span></label></td>
                    <td><label>Average Torque Required <span id="torqueperturn">0</span></label></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="assembly" data-type="assembly">
        <h4>Assembly</h4>
        <table style="border-spacing:1em 0;border-collapse:separate;">
            <thead class="smallerheadings">
                <tr>
                    <th>Total Lift</th>
                    <th>Shaft Length</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="totallift">0</td>
                    <td id="shaftlength">0</td>
                </tr>
            </tbody>
        </table>
        <button type="button" onclick="addSocket(this);">Add Casting</button>
        <button type="button" onclick="clearAssembly();">Clear Assembly</button>
        <button type="button" onclick="getStoreAssembly();">Store Assembly</button>
    </div>

    <div id="sidebar" class="floating sidebar">
        <button type="button" onclick="toggleSidebar();">Assemblies</button>
        <div class="toggleable boxed" style="align-content:center;text-align:center;display:none;">
            <h4>Assemblies</h4>
            <button type="button" onclick="generateAssemblies(this);">Generate</button>
            <div id="savedAssemblies" style="margin:.25em;"></div>
        </div>
    </div>

    <datalist id="wiregauges">
        {% for gauge in wiregauges %}
        <option value="{{gauge}}" />
        {% endfor %}
    </datalist>
    <datalist id="ods">
        {% for od in ods %}
        <option value="{{od}}" />
        {% endfor %}
    </datalist>
{% endblock %}

{% block scripts %}
{% csrf_token %}
<script>
    var doorid = {{doorid}};
    // springprec and odprec are set before loading scripts in order to template springs
    var springprec = {{springprecision}};
    var odprec = {{odprecision}};
    // List containing the raw data of the assemblies in the sidebar
    var SIDEBAR = [];

    $(document).ready(function(){
        {% if doorid %}$("#savebutton").attr("onclick","submitSprings();");{% endif %}
        $("#pipesize").on("change",updateTurns);
        {% if cyclerating %}$("#cyclerating").val({{cyclerating}});{% endif %}{% if pipesize %}$("#pipesize").val({{pipesize}});{% endif %}{% if weightopen %}$("#weightopen").val({{weightopen}});{% endif %}{% if weightclosed %}$("#weightclosed").val({{weightclosed}});{% endif %}
        setupCSRFAjax();
        {% if weightopen and weightclosed%}
        updateTurns();
        updateTorque();
        {% endif %}
    });
</script>
{% if doorid %}
<script>
    function submitSprings() {
        let assembly = getAssembly();
        if (!assembly.castings.length) {
            showSnackbar({ alerttype: "danger", label: "No Castings", text: "No Castings Created" });
            return;
        };

        function callback(result) {
            if (result.success != undefined && result.success) {
                window.location.assign(result.target);
            } else {
                if (result.reason == "nocastings") {
                    showSnackbar({ alerttype: "danger", label: "No Castings", text: "No Castings Created" });
                } else if (result.reason == "badcastings") {
                    showSnackbar({ alerttype: "danger", label: "Bad Castings", text: "Invalid Castings" });
                } else {
                    showSnackbar({ alerttype: "danger", label: "Bad Request", text: result });
                };
            };
        };

        let pipesize = $("#pipesize").val();
        $.post("/doors/springs/api/set", { doorid: doorid, pipe: pipesize, assembly: JSON.stringify(assembly)}, callback).fail(callback);
    };
</script>
{% endif %}
<script src="{% static 'core/scripts/autocomplete.js' %}"></script>
<script src="{% static 'core/scripts/errorbubble.js' %}"></script>
<script src="{% static 'core/scripts/security.js' %}"></script>
<script src="{% static 'core/scripts/measureit.js' %}"></script>
<script src="{% static 'core/scripts/accordion.js' %}"></script>
<script src="{% static 'core/scripts/toggle.js' %}"></script>
<script src="{% static 'doors/scripts/springs.js' %}"></script>
<script src="{% static 'doors/scripts/springsgui.js' %}"></script>
<script>
    // TODO: Remove this after testing
    $(document).ready(generateToggle);
</script>
{% endblock %}